/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@import url("base.css");

.root {
	-fx-base: rgb(219, 241, 253);
	-fx-background: derive(-fx-base,-2%);
	-fx-control-inner-background: derive(-fx-base,+5%);
	-fx-text-fill: black;
}

.menu-bar {
	-fx-background-color: linear-gradient(to bottom, derive(-fx-base,30%), -fx-base);
}
 
.tool-bar:horizontal {
	-fx-background-color: linear-gradient(to bottom, derive(-fx-base,32%), derive(-fx-base,2%));
}
 
.button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-color: -fx-hover-base;
}
 
.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+30%);
	-fx-table-header-border-color:derive(-fx-base,+40%);
}
 
.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,40%);
	-fx-background-insets: 0, 0 1 0 1;
}

.dlg {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-2%));
    -fx-padding: 20.0 15.0 5.0 15.0;
}

.steps {
    -fx-padding: 20.0 20.0 0.0 0.0;
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-2%));
}

.image-field {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-2%));
}

.dlg-content {
    -fx-padding: 0.0 0.0 0.0 10.0;
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-2%));
}

